html {
  font-size: 100%;
}

/* Layout */
.game-container {
  display: flex;
  justify-content: center;
  /* background-color: coral; */
  gap: 10px;
}

.item1,
.item2 {
  background-color: lightblue;
  margin: 10px 0;
  height: 200px;
  font-size: 1.5em;
}

.item1 {
  width: 350px;
  padding: 20px;
}

.item2 {
  width: 350px;
  padding: 20px;
}

input {
  width: 85%;
  padding: 0.5rem;
  position: relative;
  top: 20px;
  left: 18px;
}

button {
  width: 40%;
  padding: 0.5rem;
  position: relative;
  top: 3rem;
  left: 1.5rem;
}

/* Formatting text */
.description {
  font-size: 2em;
  text-align: center;
}

input,
button {
  font-size: inherit;
}

.wrong,
.right {
  margin: 0 0.2rem;
  padding: 0.2rem;
}

.wrong {
  background-color: tomato;
}

.right {
  background-color: lime;
}

button:disabled,
input:disabled {
  background-color: #7b7979;
}
